*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
a{
    color: inherit;
}
button{
    cursor: pointer;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
}
.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
body{
    background-color:#ffffff;
}
.al{
    border-bottom: 1px solid #fffefe;
}